In [82]:
import requests
from bs4 import BeautifulSoup
import pprint
import pandas as pd
import numpy as np

In [92]:
##source: https://pythonprogramminglanguage.com/web-scraping-with-pandas-and-beautifulsoup/
html = requests.get("https://ropercenter.cornell.edu/how-groups-voted-2016").text
demoSoup = BeautifulSoup(html,"html.parser")
demoTable = demoSoup.find('table')
demoFrame = pd.read_html(str(demoTable))[0]
demoFrame
#print(df[0].to_json(orient='records'))

               Unnamed: 0              2016  Group  Clinton  Trump
0                     SEX               Men     48       41     52
1                     NaN             Women     52       54     41
2                    RACE             White     70       37     57
3                     NaN  African-American     12       89      8
4                     NaN          Hispanic     11       66     28
5                     NaN             Asian      4       65     27
6                     NaN             Other      3       56     36
7                     AGE             18-29     19       55     36
8                     NaN             30-44     25       51     41
9                     NaN             45-64     40       44     52
10                    NaN         65 & over     16       45     52
11                 INCOME          <$50,000     36       53     41
12                    NaN  $50,000-$100,000     30       46     49
13                    NaN   $100,000 & over     34       47     47
14        UNION HOUSEHOLD               Yes     18       51     43
15                    NaN                No     82       46     48
16                  PARTY          Democrat     37       89      8
17                    NaN        Republican     33        8     88
18                    NaN       Independent     31       42     46
19   POLITICAL PHILOSOPHY           Liberal     26       84     10
20                    NaN          Moderate     39       52     40
21                    NaN      Conservative     35       16     81
22  MOST IMPORTANT ISSUES    Foreign policy     13       60     33
23                    NaN       Immigration     13       33     64
24                    NaN           Economy     52       52     41
25                    NaN         Terrorism     18       40     57

In [93]:
racialTable = demoFrame.drop([0,1,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25])
del racialTable['Unnamed: 0']
racialTable

               2016  Group  Clinton  Trump
2             White     70       37     57
3  African-American     12       89      8
4          Hispanic     11       66     28
5             Asian      4       65     27
6             Other      3       56     36

In [89]:
racialTable.to_csv('2016RacialDemographics.csv')